<ul class="categories">
  foreach $root do
    if $children do
      <li>
        <h2 class="cat-title"><strong>@title</strong></h2>
        <ul class="category">
          foreach $children do
          	<li class="seven columns">
              <a href="@url" title="@client Project Page">
            		<div class="thumbnail">
                  <img src="@thumb" alt="@client" title="@client">
            		</div>
                <div class="text">
                    <h3>@client</h3>
                    <p class="project-date"><em>@date</em></p>
                </div>
              </a>
          	</li>
          endforeach
        </ul>
      </li>
    endif
  endforeach
</ul>
